.task {
  margin: 10px;
}

.title {
  margin: 10px;
  font-size: 50px;
  color: #667894;
}

.tag {
  margin: 10px;
  font-size: 30px;
  font-weight: 400;
  color: lightsteelblue;
}

.description {
  margin: 10px;
  font-size: 30px;
  font-weight: 400;
  color: #667894;
}
