.task {
  margin: 10px;
}

.title {
  font-size: 40px;
  margin: 0 10px;
  color: #667894;
  display: flex;
  justify-content: space-between;
}

.taskname {
  padding-top: 15px;
}

.tag {
  margin: 10px;
  font-size: 30px;
  font-weight: 400;
  color: lightsteelblue;
}

.description {
  font-size: 30px;
  font-weight: 400;
  color: #667894;
}
