.title {
  font-size: 30px;
  color: #667894;
}

.tag {
  margin: 10px;
  font-size: 30px;
  font-weight: 400;
  color: lightsteelblue;
}

.description {
  font-size: 30px;
  font-weight: 400;
  color: #667894;
}

.taskbutton {
  margin: 16px auto;
}
