.group {
  width: 750px;
  height: auto;
  overflow: hidden;
}

.item {
  border: 2px solid #cfe0f7;
  border-radius: 20px;
  box-shadow: 15px 15px 15px #abbcda;
  margin: 30px 20px;
  height: 264px;
  width: 710px;
}

.left {
  float: left;
  height: 264px;
  width: 360px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.text {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  height: 264px;
  width: 360px;
  margin-left: 30px;
}

.name {
  width: 360px;
  display: block;
  line-height: 50px;
  font-size: 44px;
  color: #425d8a;
}

.count {
  width: 160px;
  margin-top: 20px;
  font-size: 30px;
  line-height: 50px;
  font-weight: 500;
  color: #abbcda;
  padding-left: 2px;
}

.update {
  width: 360px;
  font-size: 30px;
  line-height: 50px;
  font-weight: 500;
  color: #abbcda;
  padding-left: 2px;
}
